<nav class="sidebar" [ngClass]="{'no-shadow': hasActiveItem}">
  <div class="sidebar-header">
    <img src="/logo.png" alt="Logo Prosul" class="logo-prosul">
    <h2>CREA</h2>
  </div>
  <ul class="nav-list">
    <li *ngFor="let item of navItems" class="nav-item">
      <a [routerLink]="item.path" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" aria-current="page">
        {{ item.label }}
      </a>
    </li>
  </ul>
  <div class="user-profile">
    @if (user) {
      <div class="profile-content">
        <img [src]="'/users/user.png'" alt="Foto de perfil" class="profile-image">
        <span class="user-name">{{ user.username || 'Usuário' }}</span>
        <button mat-button color="primary" (click)="logout()" class="logout-btn">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    } @else {
      <p>Usuário não autenticado</p>
      <a [routerLink]="['/login']" class="login-link">
        <i class="material-icons">login</i> <!-- Usando Material Icons -->
      </a>
    }
  </div>
</nav>
