<div class="body-container">
  <div class="login-container">
    <div class="login-header">
      <img src="/logo.png" alt="Logo Prosul" class="logo-prosul">
      <h2>CREA</h2>
    </div>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div>
        <label for="username">Usuário</label>
        <input
          type="text"
          id="username"
          name="username"
          [(ngModel)]="username"
          placeholder="Digite seu usuário"
          required
          #usernameInput="ngModel"
        />
      <div class="error-message" *ngIf="usernameInput.invalid && usernameInput.touched">
        O usuário é obrigatório
      </div>
      </div>
      <div>
        <label for="password">Senha</label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="password"
          placeholder="Digite sua senha"
          required
          #passwordInput="ngModel"
        />
      <div class="error-message" *ngIf="passwordInput.invalid && passwordInput.touched">
        A senha é obrigatória
      </div>
      </div>
      <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
      <div class="error-message" *ngIf="error">
        {{ error }}
      </div>
    </form>
  </div>

</div>
