<div class="modal-container">
  <h2 mat-dialog-title>Dados do Contrato</h2>
  <mat-dialog-content>
    <form [formGroup]="modalData" (ngSubmit)="onSubmit()">
      <!-- Seção: Local da Obra/Serviço -->
      <h4>Dados do Contrato/Contratante</h4>
      <div class="grid-container local-obra">
        <mat-form-field appearance="outline" class="grid-item nome-empresa">
          <mat-label>Nome da Empresa</mat-label>
          <input matInput formControlName="nomeEmpresa" required />
        </mat-form-field>
        <mat-form-field appearance="outline" class="grid-item endereco">
          <mat-label>Endereço</mat-label>
          <input matInput formControlName="endereco" required />
        </mat-form-field>
        <mat-form-field appearance="outline" class="grid-item cep">
          <mat-label>CEP</mat-label>
          <input
            matInput
            formControlName="cep"
            mask="00000-000"
            inputmode="numeric"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="grid-item telefone">
          <mat-label>Telefone</mat-label>
          <input
            matInput
            formControlName="telefone"
            mask="(00) 00000-0000||(00) 0000-0000"
            inputmode="tel"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="grid-item cnpj">
          <mat-label>CNPJ</mat-label>
          <input
            matInput
            formControlName="cnpj"
            mask="00.000.000/0000-00"
            inputmode="numeric"
            required
          />
        </mat-form-field>
      </div>

      <h3>Cliente</h3>

      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Selecione um cliente</mat-label>

        <mat-select formControlName="clienteId">
          <mat-option *ngFor="let cliente of costumers" [value]="cliente.id">
            {{ cliente.cliente }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Seção: Resumo do Contrato -->
      <h3>Resumo do Contrato</h3>
      <div class="grid-container resumo-contrato">
        <mat-form-field appearance="outline" class="grid-item resumo-contrato">
          <mat-label>Escopo do Contrato</mat-label>
          <textarea
            matInput
            formControlName="resumoContrato"
            rows="4"
            required
          ></textarea>
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          class="grid-item resumo-ordem-servico"
        >
          <mat-label>Escopo da Ordem de Serviço</mat-label>
          <textarea
            matInput
            formControlName="resumoOrdemServico"
            rows="4"
            required
          ></textarea>
        </mat-form-field>
      </div>

      <!-- Seção: Detalhes do Contrato -->
      <h3>Detalhes do Contrato</h3>
      <div class="grid-container detalhes-contrato">
        <mat-form-field appearance="outline" class="grid-item numero-contrato">
          <mat-label>Nº do Contrato</mat-label>
          <input matInput formControlName="numeroContrato" required />
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          class="grid-item numero-ordem-servico"
        >
          <mat-label>Nº da Ordem de Serviço</mat-label>
          <input matInput formControlName="numeroOrdemServico" required />
        </mat-form-field>
        <mat-form-field appearance="outline" class="grid-item numero-servico">
          <mat-label>Nº do Serviço</mat-label>
          <input matInput formControlName="numeroServico" required />
        </mat-form-field>
        <mat-form-field appearance="outline" class="grid-item inicio">
          <mat-label>Início</mat-label>
          <input
            matInput
            [matDatepicker]="inicioPicker"
            formControlName="inicio"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="inicioPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #inicioPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" class="grid-item termino">
          <mat-label>Término</mat-label>
          <input
            matInput
            [matDatepicker]="terminoPicker"
            formControlName="termino"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="terminoPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #terminoPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          class="grid-item valor-obra-servico"
        >
          <mat-label>Valor da Obra/Serviço</mat-label>
          <input
            matInput
            formControlName="valorObraServico"
            mask="separator.2"
            thousandSeparator="."
            decimalMarker=","
            prefix="R$ "
            inputmode="decimal"
          />
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          class="grid-item valor-total-contrato"
        >
          <mat-label>Valor Total do Contrato</mat-label>
          <input
            matInput
            formControlName="valorTotalContrato"
            mask="separator.2"
            thousandSeparator="."
            decimalMarker=","
            prefix="R$ "
            inputmode="decimal"
          />
        </mat-form-field>
      </div>

      <mat-dialog-actions>
        <button mat-button type="button" (click)="onCancel()">Cancelar</button>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="modalData.invalid"
        >
          Enviar
        </button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
</div>
