<div class="search-container">
  <div class="professional-search">
    <h2>Solicitar ART</h2>

    <div class="selection-container">
      <div
        *ngFor="
          let selection of selectedProfessionals;
          let i = index;
          let last = last;
          trackBy: trackByIndex
        "
        class="selection-row"
        [class.even-row]="i % 2 === 0"
        [class.odd-row]="i % 2 !== 0"
      >
        <div class="grid-container">
          <!-- Linha 1: Seleção de Profissional -->
          <div class="grid-row professional-row">
            <div class="form-group grid-item professional">
              <label for="professional-{{ i }}">Profissional {{ i + 1 }}</label>
              <ng-select
                [items]="professionals"
                bindLabel="name"
                [(ngModel)]="selection.professional"
                placeholder="Selecione um profissional"
                (ngModelChange)="onProfessionalChange(selection)"
              ></ng-select>
            </div>
          </div>

          <!-- Iterar sobre os serviços -->
          <div
            *ngFor="
              let service of selection.services;
              let j = index;
              let last = last
            "
            class="grid-container"
          >
            <div
              class="grid-row service-activity-row"
              *ngIf="selection.professional"
            >
              <div class="form-group grid-item service">
                <label>Serviço Técnico</label>
                <ng-select
                  [items]="selection.technicalServices"
                  bindLabel="nomeServicoTecnico"
                  bindValue="codigoServicoTecnico"
                  [(ngModel)]="service.service"
                  placeholder="Selecione um serviço técnico"
                  (change)="onServiceChange(service, selection)"
                ></ng-select>
              </div>

              <div
                class="form-group code-display grid-item service-code"
                *ngIf="service.service"
              >
                <label>Código do Serviço Técnico</label>
                <span>{{ service.service }}</span>
              </div>

              <div
                class="form-group grid-item activities"
                *ngIf="service.service"
              >
                <label>Atividades</label>
                <ng-select
                  [items]="service.activities"
                  bindLabel="name"
                  bindValue="id"
                  [multiple]="true"
                  [(ngModel)]="service.activityIds"
                  placeholder="Selecione atividades"
                ></ng-select>
              </div>

              <div
                class="form-group code-display grid-item activity-codes"
                *ngIf="service.activityIds?.length"
              >
                <label>Códigos das Atividades</label>
                <span>{{ getActivityCodes(service) }}</span>
              </div>
            </div>

            <!-- Linha 3: Quantidade, Unidade, Botões -->
            <div
              class="grid-row quantity-unit-row"
              *ngIf="service.activityIds?.length"
            >
              <div class="form-group grid-item quantity">
                <label>Quantidade</label>
                <input
                  type="number"
                  [(ngModel)]="service.quantity"
                  min="1"
                  step="1"
                />
              </div>

              <div class="form-group grid-item unit">
                <label>Unidade de Medida</label>
                <input type="text" [(ngModel)]="service.unit" />
              </div>

              <div class="grid-item btn-group">
                <button
                  class="add-btn"
                  (click)="addService(selection)"
                  title="Adicionar serviço"
                  *ngIf="last"
                >
                  Adicionar Serviço
                </button>

                <button
                  class="remove-btn"
                  (click)="removeService(selection, j)"
                  title="Remover serviço"
                  *ngIf="selection.services.length > 1"
                >
                  Remover
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Botão para adicionar novo profissional -->
        <div class="button-container" *ngIf="last">
          <button
            class="add-professional-btn"
            (click)="addProfessionalSelection()"
          >
            Adicionar Profissional
          </button>
          <button
            class="remove-professional-btn"
            (click)="removeProfessionalSelection()"
          >
            Remover Profissional
          </button>
        </div>
      </div>
      <div class="button-export-container">
        <button
          class="add-professional-btn"
          (click)="exportToExcel()"
        >
          Exportar ART
        </button>
      </div>
    </div>
  </div>
</div>
