<div class="register-container">
  <div class="costumer-register">
    <h2>Cadastrar Cliente</h2>

    <form (ngSubmit)="onSubmit()" class="form-container">
      <div class="form-row">
        <div class="form-group">
          <label for="cliente">Cliente</label>
          <input type="text" id="cliente" formControlName="cliente" placeholder="Digite o nome do cliente">
        </div>
        <div class="form-group">
          <label for="endereco">Endereço</label>
          <input type="text" id="endereco" formControlName="endereco" placeholder="Digite o endereço">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="cep">CEP</label>
          <input type="text" id="cep" formControlName="cep" placeholder="Digite o CEP do cliente">
        </div>
        <div class="form-group">
          <label for="telefone">Telefone</label>
          <input type="text" id="telefone" formControlName="telefone" placeholder="Digite o telefone">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="cnpj">CNPJ</label>
          <input type="tel" id="cnpj" formControlName="cnpj" placeholder="Digite o CNPJ">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group button-group">
          <button type="submit" [disabled]="costumerForm.invalid">Cadastrar</button>
        </div>
      </div>
    </form>

    <p>Dados do formulário: {{ costumerForm.value }}</p>
  </div>
</div>
